.main {
    min-height: 100svh;
    margin-top: var(--header-height);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: calc(100svh - var(--header-height));
}

.allsections {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8)
}

.section {
    padding: calc(1rem + 1vw) 0.7rem;
    background-color: var(--beige);
    border: var(--border);
}






@media screen and (min-width: 1080px) {

    .section {
        padding: calc(var(--header-height) + 1rem) var(--header-height);
    }


}