.main {
    min-height: 100svh;
    margin-top: 100svh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.section {
    padding: calc(1rem + 1vw) 0.7rem;
    background-color: var(--beige);
    border: var(--border);
}




@media screen and (min-width: 1080px) {

    .section {
        padding: calc(var(--header-height) + 1rem) var(--header-height);
    }


}