.main {
    min-height: 100svh;
    margin-top: 100svh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section {
    padding: calc(var(--header-height) + 1rem) 0.7rem;
    border-bottom: var(--border-small);
    background-color: var(--beige);
}


.section:nth-of-type(1) {

    border-top: var(--border-small)
}

@media screen and (min-width: 1080px) {

    .section {
        padding: calc(var(--header-height) + 3rem) var(--header-height);

    }


}