/* !!!! MOBILE DEVELOPMENT FIRST!!!!! */
.container {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    left: 0;
    padding: var(--main-container-padding);
    top: calc(var(--header-height) + 2rem);
    padding-bottom: 1rem;
    background-color: white;
    flex-wrap: wrap;
    gap: 0.5rem;
}


.container div {
    position: relative;
    display: flex;
    border: 1px solid var(--dark-blue);
    align-items: center;
    justify-content: center;
}

.container>div>a {
    height: 100%;
    width: 100%;
    padding: 0.4rem 0.2rem;
    font-size: 0.65rem;
    text-transform: uppercase;
    font-variation-settings: var(--title-weight);
    transform: translateY(1px);
    display: block;
    text-align: center;
    transition: background-color 0.2s var(--bezier), color 0.2s var(--bezier);
}

.isActive {
    background-color: var(--dark-blue);
}





/* !!!! Desktop Development !!!! */

@media screen and (min-width: 1080px) {

    .container {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;
        width: fit-content;
        left: var(--main-container-padding);
        top: calc(var(--header-height) + 2.1rem);
        gap: 0.5rem;
    }

    .container div:hover a {
        background-color: var(--dark-blue);
        color: white;
    }
}