/* !!!! MOBILE DEVELOPMENT FIRST!!!!! */
.container {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    left: 0;
    padding: var(--main-container-padding);
    top: calc(var(--header-height) + 1rem);
    padding-bottom: 1rem;
    background-color: var(--beige);
    flex-wrap: wrap;
    gap: 0.5rem;
}

.active {
    background-color: var(--red);
}


.active a {
    color: var(--beige);
}


.link {
    position: relative;
    display: flex;
    border: 1px solid var(--red);
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s var(--bezier)
}

.link>a {
    height: 100%;
    width: 100%;
    padding: 0.4rem 0.2rem;
    font-size: 0.65rem;
    text-transform: uppercase;
    font-variation-settings: var(--title-weight);
    transform: translateY(1px);
    display: block;
    text-align: center;
    transition: color 0.2s var(--bezier);
}




.link:hover {
    background-color: var(--red);
}

.link:hover a {
    color: var(--beige);
}



/* !!!! Desktop Development !!!! */

@media screen and (min-width: 1080px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;
        width: fit-content;
    }

    .container>div>a {
        height: 100%;
        width: 100%;
        padding: 0.35rem;
        font-size: 0.7rem;
        text-transform: uppercase;
        font-variation-settings: var(--title-weight);
    }



}