/* !!!! MOBILE DEVELOPMENT FIRST!!!!! */
.container {
    position: fixed;
    display: flex;
    left: 0;
    padding: var(--spacing-2);
    top: calc(var(--header-height) - var(--spacing-2));
    background-color: var(--beige);
    gap: 0.5rem;
    border-bottom: var(--border);
    width: 100%;
    justify-content: space-evenly;
}



.link {
    position: relative;
    border: 1px solid var(--red);
    height: 100%;
    width: 100%;
    padding: var(--spacing-1-5) var(--spacing-1);
    font-size: var(--spacing-2-5);
    text-transform: uppercase;
    font-variation-settings: var(--title-weight);
    text-align: center;
    transition: color 0.2s var(--bezier), background-color 0.2s var(--bezier);
    background: none;
    cursor: pointer;
    color: var(--red);
}

.link:hover,
.active {
    background-color: var(--red);
    color: var(--beige);
}


/* !!!! Desktop Development !!!! */

@media screen and (min-width: 1080px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;
        width: fit-content;
        border-bottom: none;
    }

    .link {
        padding: 0.35rem;
        font-size: 0.7rem;
    }



}