.content {
    padding-top: var(--spacing-12);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6)
}

.overlayImageContainer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--beige);
    height: 100svh;
    width: 100svw;
    display: none;
    z-index: 1000;
}

.isOpen {
    display: block;
}

.arrowcontainerOne,
.arrowcontainerTwo {
    position: fixed;
    top: 80%;
    cursor: pointer;
    z-index: 1001;
    padding: 1rem;
}

.arrowcontainerOne {
    left: 0.5rem;
}

.arrowcontainerTwo {
    right: 0.5rem;
}

.arrowcontainerOne svg {
    transform: rotate(-135deg)
}

.arrowcontainerTwo svg {
    transform: rotate(45deg)
}



/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {
    .arrowcontainerOne,
    .arrowcontainerTwo {
        top: 50%;
        transform: translateY(-50%);
    }

    .arrowcontainerOne {
        left: 1rem;
    }

    .arrowcontainerTwo {
        right: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {}