.eventType {
    border: 1px solid var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* Prevents weird flash on mobile */
    touch-action: manipulation;
    /* Improves touch behavior */
}

.eventType p {
    background-color: white;
    color: var(--dark-blue);
    transition: all 0.2s var(--bezier);
    width: 100%;
    border: none;
}

/* Selected state for both mobile and desktop */
.selected p {
    background-color: var(--dark-blue);
    color: white;
}

.eventType p:hover {
    background-color: var(--dark-blue);
    color: white;
}

/* Only for non-touch devices */
@media (hover: hover) {}