.container {
    border-bottom: 2px solid var(--red);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--red);
}

.category {
    position: relative;
}

.container h5 {
    font-variation-settings: var(--subtitle-weight);
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--red);
    cursor: pointer;
    transition: all 0.2s var(--bezier);
    background-color: var(--beige);
    z-index: 20;
}

.open h5 {
    background-color: var(--red);
    color: var(--beige);
    border-color: var(--beige);
}

.indicator {
    height: 8px;
    width: 8px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -4px;
    transition: background-color 0.2s var(--bezier), border-color 0.2s var(--bezier);
    border: 1px solid transparent;
    z-index: 0;
}

.indicatorVisible {
    background-color: var(--red);
    border-color: var(--beige);
}

/* Only apply hover styles on devices that support hover */
@media (hover: hover) {
    .container h5:hover {
        background-color: var(--red);
        color: var(--beige);
        border-color: var(--beige);
    }
}

/* Styles for touch devices */
@media (hover: none) {
    .container h5:active {
        background-color: var(--red);
        color: var(--beige);
        border-color: var(--beige);
    }
}