.footer {
    margin-top: 5rem;
    width: 100svw;
    padding: 1rem var(--main-container-padding);
    background-color: var(--red);
    z-index: 11;
}

.footer * {
    color: var(--beige);
}

@media screen and (min-width: 1080px) {


    .footer {
        width: fit-content;
    }
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
    .footer {
        margin-top: 3rem;
        width: fit-content;
        padding: 1rem var(--main-container-padding);
        background-color: var(--red);

    }
}