.footer {
    margin-top: 5rem;
    width: 100svw;
    padding: 1rem var(--main-container-padding);
    background-color: var(--dark-blue);
    z-index: 1000;
}

.footer * {
    color: white;
}

@media screen and (min-width: 1080px) {


    .footer {
        width: fit-content;
    }
}