.logoContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    z-index: 14;
    background-color: var(--dark-blue);
    transition: scale 0.1s var(--bezier), box-shadow 0.1s var(--bezier);
    padding: 0.35rem;
}

.logoContainer * {
    color: white;
    padding: 0.1rem;

}

.logoContainer:hover {
    scale: 1.03;
    box-shadow: 2px 2px 1px var(--dark-blue)
}

.logoContainer h1 {
    transform: translateY(0.3rem)
}

.logoContainer h3 {
    transform: translateY(-0.2rem);
    width: fit-content;
}