.logoContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    z-index: 14;
    background-color: var(--dark-blue);
    transition: scale 0.1s var(--bezier), box-shadow 0.1s var(--bezier);
    padding: 0.35rem;
    transform-origin: top left;
}

.logoContainer * {
    color: white;
    padding: 0.1rem;
}

.logoContainer:hover {
    scale: 1.02;
}

.logoContainer h1 {
    /* transition: font-size 0.2s ease-in; */
    transform: translateY(0.3rem);
}



.logoContainer h3 {
    /* transition: font-size 0.2s ease-in; */
    transform: translateY(-0.2rem);
    width: fit-content;
}