/* !!!! MOBILE DEVELOPMENT FIRST!!!!! */


.logoContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    z-index: 14;
    background-color: var(--red);
    padding: 0.2rem;
    transform-origin: center left;
    transition: all 0.4s var(--bezier);
    transform: scale(0.9) rotateY(0deg);

}

.logoContainer * {
    color: var(--beige);
    padding: 0.1rem;
}

.notHomepage {
    transform: scale(0.7) rotateX(360deg);
}

.logoContainer h1 {
    transform: translateY(0.3rem);
    font-size: 2.3rem;
    transition: all 0.4s var(--bezier);
    font-variation-settings: var(--logo-weight);
}

.logoContainer h3 {
    transform: translateY(-0.2rem);
    width: fit-content;
    transition: all 0.2s var(--bezier)
}

.open {
    background-color: var(--beige)
}

.open * {
    color: var(--red);
}


/* !!!! DESKTOP !!!!! */
@media (min-width: 1080px) {}