.backToContainer {
    display: flex;
    padding: 0.5rem 0;
    width: fit-content;
    position: relative;
    z-index: 100;
}


.backToContainer a {
    color: var(--beige);
    background-color: var(--red);
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    font-variation-settings: var(--subtitle-weight);
    text-transform: uppercase;
    width: fit-content;
    border: 1px solid var(--red);
    transition: all 0.2s var(--bezier);
    width: 100%;
    text-align: center;
}

.backToContainer a:hover {
    color: var(--red);
    background-color: var(--beige);
}

/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {

    .backToContainer {

        align-items: center;
        justify-content: flex-end;
    }


    .backToContainer a {

        width: fit-content;

    }

    .backToContainer a:hover {
        color: var(--red);
        background-color: var(--beige);
    }
}