.container {
    position: relative;
    margin-top: calc(var(--header-height) / 2);
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.eventsContainer {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--header-height) / 2);
    align-items: center;


}

.filtercontainer {
    position: sticky;
    top: calc(var(--header-height) + 2.5rem);
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {
    .container {
        width: 55vw;
    }

    .eventsContainer {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: calc(var(--header-height) / 2);
    }

    .backLinkContainer {
        display: flex;
        z-index: 2;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
        width: 80vw;
    }

    .eventsContainer {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: calc(var(--header-height) / 2);
    }

    .backLinkContainer {
        display: flex;
        z-index: 2;
    }
}