.event {
    border: 2px solid var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 14rem;
    width: 100%;
    padding: 1.5rem;
    background-color: white;
    position: relative;
}


.event * {
    color: var(--dark-blue)
}

.event h2 {
    text-decoration: underline;
    font-size: 1.2rem;
}



.middleContainer {
    display: flex;
    justify-content: space-between;
}

.addressContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.addressContainer h5 {
    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.addressContainer p {
    font-family: var(--title-font);
    font-size: 0.8rem;
    font-variation-settings: var(--subtitle-weight)
}

.lowerRightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dateContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.date,
.time {
    font-family: var(--title-font);
}


.date {
    font-size: clamp(0.7rem, 1vw, 1rem);
    font-variation-settings: var(--title-weight);
}

.time {
    font-size: 0.7rem;
    font-variation-settings: var(--subtitle-weight);

}




/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {
    .event {
        width: 80%;
        min-height: 16rem;
    }




    .event h2 {
        text-decoration: underline;
        font-size: 1.4rem;
    }

    .middleContainer {
        display: flex;
        justify-content: initial;
        gap: 4rem;

    }

    .addressContainer {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .addressContainer h5 {
        font-size: 0.8rem;
    }

    .addressContainer p {

        font-size: 0.7rem;

    }

    .date {
        font-size: 1rem;
    }

    .time {
        font-size: 0.9rem;
    }




}