.filterContainer {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 100;

}

.filterContainer p {
    color: var(--beige);
    background-color: var(--red);
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    font-variation-settings: var(--subtitle-weight);
    text-transform: uppercase;
    width: fit-content;
    border: 1px solid var(--red);
    transition: all 0.2s var(--bezier);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--title-font);
    cursor: pointer;
    width: fit-content;
}

.filterContainer p:hover {
    color: var(--red);
    background-color: var(--beige);
}




.foldoutContainer {
    position: absolute;
    height: 25rem;
    width: 20rem;
    background-color: var(--beige);
    transform: translateX(-85%);
    border: var(--border);
    transition: top 0.2s var(--bezier);
    display: none;
    top: 110%;
    font-family: var(--title-font);
    color: var(--red)
}

.indicator {
    height: 8px;
    width: 8px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -4px;
    transition: background-color 0.2s var(--bezier), border-color 0.2s var(--bezier);
    border: 1px solid transparent;
    z-index: 0;
}

.indicatorVisible {
    background-color: var(--dark-blue);
    border-color: var(--beige);
}

.open {
    display: block;
}



.open p {
    background-color: var(--beige);
    color: var(--red)
}