.filterContainer {
    display: flex;
    width: fit-content;
    position: relative;
    z-index: 100;
}

.filterContainer p {
    color: white;
    background-color: var(--dark-blue);
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    font-variation-settings: var(--subtitle-weight);
    text-transform: uppercase;
    width: fit-content;
    border: 1px solid var(--dark-blue);
    transition: all 0.2s var(--bezier);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--title-font);
    cursor: pointer;
}

.filterContainer p:hover {
    color: var(--dark-blue);
    background-color: white;
}


.foldoutContainer {
    position: absolute;
    height: 20rem;
    width: 20rem;
    background-color: white;
    transform: translate(-50%);
    top: 80%;
    left: -265%;
    border: 2px solid var(--dark-blue);
    transition: top 0.2s var(--bezier);
    display: none;
}

.open {
    display: block;
}