.iconContainer {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;

}

.icon img {
    height: 100%;
    width: auto;
    max-width: 1.5rem;
}



/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {


    .iconContainer {
        width: 80%;
    }

    .icon {
        height: 2rem;
        width: 2rem;
    }

    .icon img {
        height: 100%;
        width: auto;
        max-width: 2rem;
    }

}