.leftContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;

    position: relative;
}



.linkContainer {}

.linkContainer a {
    background-color: var(--red);
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-variation-settings: var(--subtitle-weight);
    color: var(--beige);
    border: 1px solid var(--red);
    transition: all 0.2s var(--bezier)
}

.linkContainer a:hover {
    background-color: var(--beige);
    color: var(--red)
}





/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {


    .iconContainer {
        width: 80%;
    }

    .icon {
        height: 2rem;
        width: 2rem;
    }

    .icon img {
        height: 100%;
        width: auto;
        max-width: 2rem;
    }

    .linkContainer a {
        padding: 0.5rem 0.75rem;
        font-size: 0.8rem;
    }
}