.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-right: 2px solid var(--dark-blue);
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}

.icon img {
    height: 100%;
    width: auto;
    max-width: 1.5rem;
}



/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {


    .icon {
        height: 2rem;
        width: 2rem;
    }

    .icon img {
        height: 100%;
        width: auto;
        max-width: 2rem;
    }
}