/* !!!! MOBILE DEVELOPMENT FIRST!!!!! */

.header {
    border-bottom: 4px solid var(--dark-blue);
    position: fixed;
    width: 100svw;
    height: fit-content;
    padding: 0.7rem;
    z-index: 10;
    top: 0;
    left: 0;
}