.articlepreview {
    border: var(--border);
    background-color: var(--beige);
    padding: var(--spacing-6);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}


.uppercontainer {
    display: flex;
    justify-content: space-between;
}

.tags {
    display: flex;
    gap: var(--spacing-2);
}

.tags p {
    color: var(--red);
    background-color: var(--beige);
    border: var(--border);
    padding: var(--spacing-2) var(--spacing-4);
    font-size: 0.6rem;
    line-height: 100%;
    height: fit-content;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3)
}

.titlecontainer h3 {
    width: fit-content;
    font-size: 1.25rem;
    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
}

.descriptioncontainer {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 95%;
}

.date p {
    font-family: var(--title-font);
    font-variation-settings: var(--title-weight);
    color: var(--red);
    font-size: 0.6rem
}


.imagecontainer {
    height: 16rem;
    width: 100%;
}

.imagecontainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.link {
    margin-top: auto;
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    justify-content: flex-end;
    padding-top: var(--spacing-6);

}

.link a {
    text-transform: uppercase;
    font-variation-settings: var(--subtitle-weight);
    padding: var(--spacing-2) var(--spacing-4);
    color: var(--beige);
    background-color: var(--red);
    font-size: 0.75rem;
    transition: all 0.2s var(--bezier);
    border: var(--border);
}

.link a:hover {
    color: var(--red);
    background-color: var(--beige);

}