.iconContainer {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}

.icon {
    height: 1rem;
    width: 1rem;

}

.icon img {
    height: 100%;
    width: auto;
    max-width: 1.5rem;
}



/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {


    .iconContainer {
        width: fit-content;
        gap: 1rem;
    }

    .icon {
        height: 1.25rem;
        width: 1.25rem;
    }

    .icon img {
        height: 100%;
        width: auto;
        max-width: 1.5rem;
    }

}