.container {
    position: relative;
    margin-top: calc(var(--header-height) / 2);
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--maincontainer-padding)
}

/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {
    .container {
        width: 100vw;
        padding: 6rem 0;
        display: flex;
        gap: 2rem
    }

    .previewcontainer {
        padding: 0 6rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }

    /* Items 1-2 in each cycle of 5 (larger, 2 per row) */
    .previewcontainer>*:nth-child(5n + 1),
    .previewcontainer>*:nth-child(5n + 2) {
        grid-column: span 3;
        /* takes half the grid (3 of 6 columns) */
    }

    /* Items 3-5 in each cycle of 5 (smaller, 3 per row) */
    .previewcontainer>*:nth-child(5n + 3),
    .previewcontainer>*:nth-child(5n + 4),
    .previewcontainer>*:nth-child(5n) {
        grid-column: span 2;
        /* takes a third of the grid (2 of 6 columns) */
    }

    .newslettercontainer {
        max-width: 55vw;
        margin: auto;
        padding: var(--spacing-6);
        border: var(--border);
        background-color: var(--beige);
    }

}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
        width: 80vw;
    }
}