.mainHeadingContainer {
    position: fixed;
    top: calc(var(--header-height) - 2px);
    padding-right: var(--main-container-padding);
    width: 100%;
    z-index: 1;
    left: var(--main-container-padding);
}

.mainHeading {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-right: var(--main-container-padding);

}

.mainHeading h2 {

    font-size: 2.3rem;

}


.subtitleContainer h4 {
    font-size: 0.7rem;
    text-align: right;

}





/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {
    .mainHeadingContainer {
        width: 100vw;
        left: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--beige);
    }

    .mainHeading {
        width: 55vw;
    }

    .titlecontainer {
        display: flex;
        gap: var(--spacing-2);
    }

    .titlecontainer {
        width: fit-content;
    }
}

/* !!!! TABLET !!!!! */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .mainHeadingContainer {
        width: 80vw;
        left: initial;
        top: calc(var(--header-height) + 1.35rem);
        padding-top: calc(var(--header-height) / 4);
    }
}