.mainHeadingContainer {
    position: fixed;
    top: calc(var(--header-height) - var(--spacing-2));
    left: 0;
    right: 0;
    padding: 0 0.5rem;
    background-color: var(--beige);
    z-index: 10;

}

.mainHeading {
    display: flex;
    justify-content: space-between;

}

.mainHeading h2 {
    font-size: 2.3rem;
}


.subtitleContainer h4 {
    font-size: 0.7rem;
    text-align: right;

}

.titlecontainer {
    display: flex;
    gap: var(--spacing-2);

}



/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {
    .mainHeadingContainer {
        width: 100vw;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--beige);
    }

    .mainHeading {
        width: 55vw;

    }

    .titlecontainer {
        display: flex;
        gap: var(--spacing-2);

    }

}

/* !!!! TABLET !!!!! */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .mainHeadingContainer {
        width: 100vw;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--beige);


    }

    .mainHeading {
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }

    .titlecontainer {
        display: flex;
        gap: var(--spacing-2);

    }

}