.container {
    padding: 4.2rem 0.7rem;
    display: flex;
    /* border-bottom: var(--border-small); */
    flex-direction: column;
    gap: 4.2rem;
    border-top: var(--border-small);
}


@media screen and (min-width: 1080px) {
    .container {
        padding: 5rem 0.7rem;
        width: 55vw;
        gap: 4.2rem;
    }


}