.container {
    padding: 4.2rem 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 4.2rem;
    background-color: var(--beige);
}


@media screen and (min-width: 1080px) {
    .container {
        width: 55vw;
        gap: 4.2rem;
        padding: 0;
    }


}