.clickOverlay {
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    transform: translateY(-100%)
}

.isVisible {
    transform: translateY(0);
}