/* !!!! MOBILE DEVELOPMENT FIRST!!!!! */

.main {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    z-index: 14;
    background-color: var(--dark-blue);
    transition: scale 0.1s var(--bezier), box-shadow 0.1s var(--bezier);
}

.logoContainer * {
    color: white;
    padding: 0.1rem;

}

.logoContainer:hover {
    scale: 1.03;
    box-shadow: 2px 2px 1px var(--dark-blue)
}

.logoContainer h3 {
    transform: translateY(-0.3rem);
    width: fit-content;
}

.hamburgerContainer {
    z-index: 14;
}

.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    transform: translateX(-100%);
    transition: transform 0.4s var(--bezier);
    background-color: white;
    z-index: 1;
}

.open {
    transform: translateX(0%);

}

@media screen and (min-width: 1080px) {

    .navbarContainer {
        position: fixed;
        top: 0;
        left: 0;
        height: 100svh;
        width: 33svw;
        transform: translateX(-100%);
        transition: transform 0.4s var(--bezier);
        background-color: white;
    }

    .open {
        transform: translateX(0%);
    }
}