.scheduleContainer {
    padding: calc(var(--header-height) / 2) 0 1rem 0;
}

.event {
    display: flex;
    padding: 0.4rem 0;
    border-bottom: 1px dotted var(--red);
    gap: 0.75rem;
    align-items: center;
}



.event>* {
    font-size: 1rem;
    width: 100%;
    transform: translateY(2px);
}

.event a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
    width: fit-content;
}

.event h2 {
    width: 100%;
}

.event h4 {
    text-align: left;
    width: fit-content;
}


.event a h5 {
    font-variation-settings: var(--title-weight);
    font-family: var(--title-font);
    text-transform: uppercase;
    width: fit-content;
}

@media screen and (min-width: 1080px) {
    .event h2 {
        text-align: left;
    }
}