.programContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.moreEventsLink {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.moreEventsLink a {
    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
}

.moreEventsLink svg {
    transform: translateY(-2px);
}

.programText {
    width: 80%;
}