.programContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.moreEventsLink {
    width: fit-content;
    padding-top: 1rem;

}

.moreEventsLink a {
    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.moreEventsLink svg {
    transform: translateY(-2px);
}


.downloadbar {
    display: flex;
    gap: var(--spacing-4);
    padding-top: var(--spacing-8);
    width: fit-content;
}


/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1080px) {
    .programText {
        width: 80%;

    }
}