/* !!!! MOBILE DEVELOPMENT FIRST!!!!! */

@font-face {
    font-family: "Clash Grotesk";
    src: url("/fonts/ClashGrotesk-Variable.ttf");
}


@font-face {
    font-family: "League Spartan";
    src: url("/fonts/LeagueSpartan-VariableFont_wght.ttf");
}



:root {

    /* general */
    font-size: calc(100vw / 375 * 14);
    --bezier: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    --border-small: 0.2rem solid var(--red);
    --border: 1px solid var(--red);
    /* paddings */
    --main-container-padding: 0.7rem;

    --header-height: 6.4rem;

    /* colors */
    --dark-blue: #0069DA;
    --light-blue: #D5E9FF;
    --red-lowopa: rgba(243, 145, 168, 0.2);
    --red: rgba(188, 0, 45, 1);
    --beige: #F9F7ED;


    /* typefaces */
    --title-font: "Clash Grotesk", sans-serif;
    --logo-weight: "wght" 650;
    --title-weight: "wght" 550;
    --subtitle-weight: "wght" 400;
    --japanese-subtitle-weight: "wght" 400;
    --ultrathin: "wght" 500;
    --text-font: "League Spartan", sans-serif;

    /* Base spacing unit (16px) */
    --spacing-base: 1rem;

    /* Spacing Scale */
    --spacing-0: 0;
    --spacing-px: 1px;
    --spacing-0-5: calc(var(--spacing-base) * 0.125);
    /* 2px */
    --spacing-1: calc(var(--spacing-base) * 0.25);
    /* 4px */
    --spacing-1-5: calc(var(--spacing-base) * 0.375);
    /* 6px */
    --spacing-2: calc(var(--spacing-base) * 0.5);
    /* 8px */
    --spacing-2-5: calc(var(--spacing-base) * 0.625);
    /* 10px */
    --spacing-3: calc(var(--spacing-base) * 0.75);
    /* 12px */
    --spacing-3-5: calc(var(--spacing-base) * 0.875);
    /* 14px */
    --spacing-4: calc(var(--spacing-base) * 1);
    /* 16px */
    --spacing-5: calc(var(--spacing-base) * 1.25);
    /* 20px */
    --spacing-6: calc(var(--spacing-base) * 1.5);
    /* 24px */
    --spacing-7: calc(var(--spacing-base) * 1.75);
    /* 28px */
    --spacing-8: calc(var(--spacing-base) * 2);
    /* 28px */
    --spacing-8-5: calc(var(--spacing-base) * 2.1);
    /* 32px */
    --spacing-9: calc(var(--spacing-base) * 2.25);
    /* 36px */
    --spacing-10: calc(var(--spacing-base) * 2.5);
    /* 40px */
    --spacing-11: calc(var(--spacing-base) * 2.75);
    /* 44px */
    --spacing-12: calc(var(--spacing-base) * 3);
    /* 48px */
    --spacing-14: calc(var(--spacing-base) * 3.5);
    /* 56px */
    --spacing-16: calc(var(--spacing-base) * 4);
    /* 64px */
    --spacing-20: calc(var(--spacing-base) * 5);
    /* 80px */
    --spacing-24: calc(var(--spacing-base) * 6);
    /* 96px */
    --spacing-28: calc(var(--spacing-base) * 7);
    /* 112px */
    --spacing-32: calc(var(--spacing-base) * 8);
    /* 128px */
    --spacing-36: calc(var(--spacing-base) * 9);
    /* 144px */
    --spacing-40: calc(var(--spacing-base) * 10);
    /* 160px */
    --spacing-44: calc(var(--spacing-base) * 11);
    /* 176px */
    --spacing-48: calc(var(--spacing-base) * 12);
    /* 192px */
    --spacing-52: calc(var(--spacing-base) * 13);
    /* 208px */
    --spacing-56: calc(var(--spacing-base) * 14);
    /* 224px */
    --spacing-60: calc(var(--spacing-base) * 15);
    /* 240px */
    --spacing-64: calc(var(--spacing-base) * 16);
    /* 256px */



}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: var(--beige);
    background-color: var(--red);
}

* {
    scroll-behavior: smooth;
}

body {
    width: 100svw;
    min-height: 100svh;
    height: fit-content;
    overflow-x: hidden;
    background-color: var(--beige);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: var(--title-font);
    color: var(--red);
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}


h1,
h2 {
    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-variation-settings: var(--subtitle-weight);
    font-size: 0.9rem;
}

/* japanese subtitles */
h4 {
    font-variation-settings: var(--japanese-subtitle-weight);
}


h5 {
    font-variation-settings: var(--ultrathin);
    color: var(--red);
}



/* are h4 */

p {
    font-family: var(--text-font);
    font-size: 1rem;
    hyphens: auto;
    text-align: justify !important;
    line-height: 1.3;
    font-weight: 300;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav,
nav li,
nav a,
nav h5 {
    text-transform: uppercase;
    font-variation-settings: var(--japanese-subtitle-weight);
    font-size: 2rem;
}

label {
    font-family: var(--title-font);
    color: var(--red);
    font-variation-settings: var(--subtitle-weight);
    font-size: 0.75rem;
}

input {
    border-radius: none;
    font-family: var(--title-font);
    color: var(--red)
}

button {
    background-color: var(--red);
    color: var(--beige);
    font-family: var(--title-font);
    font-variation-settings: var(--subtitle-weight);
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    border: 0.5px solid var(--red);
    outline: none;
    cursor: pointer;
    transition: all 0.2s var(--bezier)
}

button:hover {
    color: var(--red);
    background-color: var(--beige);
}


/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1280px) {
    :root {
        font-size: 18px;
    }

    p {
        font-size: 1rem;
        text-wrap: pretty;
        text-align: initial;
    }
}



/* !!!! TABLET !!!!! */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    :root {
        font-size: 16px;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav,
    nav li,
    nav a,
    nav h5 {
        font-size: 1.5rem;
    }
}