/* !!!! MOBILE DEVELOPMENT FIRST!!!!! */


:root {

    /* general */
    font-size: calc(100vw / 375 * 14);
    --bezier: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    --border-small: 0.2rem solid var(--dark-blue);


    /* paddings */
    --main-container-padding: 0.7rem;

    /* colors */
    --dark-blue: #0064D4;
    --light-blue: #D5E9FF;
    --red-lowopa: rgba(188, 0, 45, 0.2);
    --red: rgba(188, 0, 45, 1);


    /* typefaces */
    --title-font: "fractul-variable", sans-serif;
    --title-weight: "wght" 700;
    --subtitle-weight: "wght" 500;
    --japanese-subtitle-weight: "wght" 300;
    --ultrathin: "wght" 100;
    --gradient: linear-gradient(45deg, var(--light-blue), white);
    --text-font: "futura-pt", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: white;
    background-color: var(--dark-blue);
}

* {
    scroll-behavior: smooth;
}

body {
    width: 100svw;
    min-height: 100svh;
    height: fit-content;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: var(--title-font);
    color: var(--dark-blue);
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}


h1,
h2 {
    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-variation-settings: var(--subtitle-weight);
    font-size: 0.9rem;
}

/* japanese subtitles */
h4 {
    font-variation-settings: var(--japanese-subtitle-weight);
}


h5 {
    font-variation-settings: var(--ultrathin);
    color: var(--dark-blue);
}



/* are h4 */

p {
    font-family: var(--text-font);
    font-style: normal;
    font-size: 1.2rem;
    hyphens: auto;
    text-align: justify;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav,
nav li,
nav a,
nav h5 {
    text-transform: uppercase;
    font-variation-settings: var(--japanese-subtitle-weight);
    font-size: 2rem;
}

label {
    font-family: var(--title-font);
    color: var(--dark-blue);
    font-variation-settings: var(--subtitle-weight);
    font-size: 0.75rem;
}

input {
    border-radius: none;
}

button {
    background-color: var(--dark-blue);
    color: white;
    font-family: var(--title-font);
    font-variation-settings: var(--subtitle-weight);
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    border: none;
    border: 0.5px solid var(--dark-blue);
    outline: none;
    cursor: pointer;
    transition: all 0.2s var(--bezier)
}

button:hover {
    color: var(--dark-blue);
    background-color: white;
}




/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1280px) {
    :root {
        font-size: 18px;
    }

    p {
        font-size: 1.1rem;
        text-wrap: pretty;
    }
}



/* !!!! TABLET !!!!! */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    :root {
        font-size: 16px;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav,
    nav li,
    nav a,
    nav h5 {
        font-size: 1.5rem;
    }
}