.main {
    height: 100svh;
    width: 100svw;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-image: var(--hero-image);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: var(--main-container-padding);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: slideUp 0.8s var(--bezier) forwards;
    animation-delay: 2.4s;
}

.letterContainer {
    display: flex;
    overflow: hidden;
    max-height: 100svh;
    align-items: center;
    background-color: var(--dark-blue);
    animation: slideIn 0.9s var(--bezier) forwards;
    transform: translateX(-180%);
    animation-delay: 0.5s;
    flex-direction: column;
}

.letterContainer div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.2rem;
}

.letter {
    font-size: calc(3rem + 6vh);
    transform: translateX(-180%) translateY(10px);
    animation: slideIn 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: calc(1.5s + (var(--index) * 0.1s));
    color: white;
}

@keyframes slideIn {
    0% {

        transform: translateX(-180%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    0% {

        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}


@media screen and (min-width: 1080px) {}

/* @media screen and (min-width: 768px) and (max-width: 1279px) {
    .letter {}
} */