.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-color: var(--beige);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--header-height) / 2);
    padding: var(--maincontainer-padding);
    margin-top: var(--header-height)
}

.middlecontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.titlecontainer h3 {
    width: fit-content;
    font-size: 1.4rem;
    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
}

.descriptioncontainer * {
    font-size: 1rem;
    font-family: var(--text-font)
}


.infocontainer {
    display: flex;
    justify-content: space-between;
}

.backtolink {
    width: fit-content;
}

.backtolink a {
    border: var(--border);
    padding: var(--spacing-2) var(--spacing-4);
    background-color: var(--red);
    color: var(--beige);
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: all 0.2s var(--bezier)
}


.backtolink:hover a {

    background-color: var(--beige);
    color: var(--red);

}

.tagscontainer {
    display: flex;
    gap: var(--spacing-4)
}

.tagscontainer p {
    border: var(--border);
    color: var(--red);
    padding: 0.1rem 0.6rem;
    font-size: 0.7rem;
    border-radius: 20px;
}


.newsletterbox {
    margin-top: var(--spacing-16);
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Desktop styles */
@media screen and (min-width: 1080px) {
    .container {
        width: 55vw;
    }

    .content {
        padding: calc(var(--header-height) / 2) 0;
        margin-top: calc(1.25rem + 1vw);
    }

    .descriptioncontainer p {
        width: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
        width: 80vw;
        margin-top: var(--header-height);
    }

    .content {
        padding: var(--header-height) 0;
    }
}