.dateContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;

}

.textContainer p {
    color: var(--red);
    font-family: var(--title-font);
    font-variation-settings: var(--subtitle-weight);
    font-size: 0.7rem;
    width: fit-content;
    display: flex;
}

.textContainer p span {

    font-variation-settings: var(--title-weight);

}