/* EventContent.module.css */
.container {
    position: relative;
    margin-top: calc(var(--header-height) + 2rem);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.eventContainer {
    padding: calc(var(--header-height) / 2) 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--header-height) / 2)
}

.eventContainer h2 {
    width: fit-content;
    font-size: 1.4rem;
}

.infoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.linkContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.linkContainer a {
    color: white;
    background-color: var(--dark-blue);
    padding: 0.5rem;
    font-size: 0.9rem;
    font-variation-settings: var(--subtitle-weight);
    text-transform: uppercase;
    width: fit-content;
    border: 1px solid var(--dark-blue);
    transition: all 0.2s var(--bezier)
}

.linkContainer a:hover {
    color: var(--dark-blue);
    background-color: white;
}

.eventContainer p {
    background-color: white;

}





/* Desktop styles */
@media screen and (min-width: 1080px) {
    .container {
        width: 55vw;
        margin-top: var(--header-height);

    }

    .eventContainer {
        padding: var(--header-height) 0;

    }
}