.imageContainer {
    border: 2px solid var(--red);
    height: fit-content;
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    background-color: var(--beige);
}