.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

}

.imageContainer {
    border: 2px solid var(--red);
    height: fit-content;
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    background-color: var(--beige);
}

.gallerycontainer {
    display: flex;
    height: calc(3rem + 3vw);
    gap: var(--spacing-1);
    position: relative;
    overflow: hidden;
}

.galleryimage img {
    height: 100%;
    width: auto;
    object-fit: contain;
    filter: brightness(60%);
    transition: all 0.2s var(--bezier);
    scale: 0.95
}

.galleryimage img::selection {
    background-color: transparent;
}


.active img {
    filter: brightness(100%);
    scale: 1
}

.arrowcontainer {
    height: 2rem;
    width: 100%;
    background-color: var(--beige);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowcontainerOne svg {
    transform: rotate(-135deg)
}

.arrowcontainerTwo svg {
    transform: rotate(45deg)
}