/* EventContent.module.css */
.container {
    position: relative;
    margin-top: calc(var(--header-height));
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-color: var(--beige);
    padding: var(--main-container-padding);
    padding-top: 0;
}

.eventContainer {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--header-height) / 2);

}

.eventContainer h2 {
    width: fit-content;
    font-size: 1.4rem;
}

.infoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.linkContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.linkContainer a {
    color: var(--beige);
    background-color: var(--red);
    padding: 0.5rem;
    font-size: 0.9rem;
    font-variation-settings: var(--subtitle-weight);
    text-transform: uppercase;
    width: fit-content;
    border: 1px solid var(--red);
    transition: all 0.2s var(--bezier);
    text-transform: uppercase;
}

.linkContainer a:hover {
    color: var(--red);
    background-color: var(--beige);
}

.locationLink {
    width: fit-content;
    background-color: var(--red);
    transition: background-color 0.2s var(--bezier);
    border: 1px solid var(--red)
}

.locationLink:hover {
    background-color: var(--beige);
}

.locationLink a {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    transform: translateY(1px);
    color: var(--beige);
    font-size: 0.8rem;
    font-family: var(--title-font);
    font-variation-settings: var(--subtitle-weight);
    transition: color 0.2s var(--bezier);


}

.locationLink:hover a {
    color: var(--red);
}


.overlayImageContainer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--beige);
    height: 100svh;
    width: 100svw;
    display: none;
    z-index: 1000;
}

.isOpen {
    display: block;
}


.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.arrowcontainerOne,
.arrowcontainerTwo {
    position: fixed;
    top: 80%;
    cursor: pointer;
    z-index: 1001;
    padding: 1rem;
}

.arrowcontainerOne {
    left: 0.5rem;
}

.arrowcontainerTwo {
    right: 0.5rem;
}

.arrowcontainerOne svg {
    transform: rotate(-135deg)
}

.arrowcontainerTwo svg {
    transform: rotate(45deg)
}



/* Desktop styles */
@media screen and (min-width: 1080px) {
    .container {
        width: 55vw;
        margin-top: var(--header-height);
        padding: 0 1rem 1rem 1rem;
    }

    .eventContainer {
        padding: var(--spacing-6) 0;
        gap: var(--spacing-8)
    }

    .eventContainer p {
        width: 90%;
    }

    .arrowcontainerOne,
    .arrowcontainerTwo {

        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1001;
        padding: 1rem;
    }

    .arrowcontainerOne {
        left: 1rem;
        transform: translateY(-50%);
    }



    .arrowcontainerTwo {
        right: 1rem;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
        width: 80vw;
        margin-top: var(--header-height);

    }

    .eventContainer {
        padding: var(--header-height) 0;

    }
}