.gallerycontainer {
    display: flex;
    height: calc(3rem + 3vw);
    gap: var(--spacing-1);
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.gallerycontainer::-webkit-scrollbar {
    display: none;
}

.galleryimage img {
    height: 100%;
    width: auto;
    object-fit: contain;
    filter: brightness(60%);
    transition: all 0.2s var(--bezier);
    scale: 0.95
}

.galleryimage img::selection {
    background-color: transparent;
}


.active img {
    filter: brightness(100%);
    scale: 1
}