.locationContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.locationContainer h5 {
    width: fit-content;
    font-variation-settings: var(--title-weight);
}

.locationContainer p {
    color: var(--red);
    font-family: var(--title-font);
    font-variation-settings: var(--subtitle-weight);
    font-size: 0.6rem;
}