.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.imageContainer {
    padding: var(--main-container-padding);
    height: 100%;
    position: relative;
}

.imageContainer img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

/* desktop */

/* Desktop styles */
@media screen and (min-width: 1080px) {
    .container {}
}