.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.imageContainer {
    padding: var(--main-container-padding);
    height: 100%;
    position: relative;
}

.imageContainer img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.arrowcontainer {
    background-color: red;
    position: absolute;
    z-index: 100;
    height: 20rem;
}

/* desktop */

/* Desktop styles */
@media screen and (min-width: 1080px) {}