.linkcontainer {
    display: flex;
    width: fit-content;
    border-bottom: var(--border);

}

.linkcontainer a {

    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}