.container {
    display: flex;
    padding: var(--spacing-3) 0;
    position: relative;
    display: flex;
    gap: var(--spacing-3);
    height: fit-content;
    border-bottom: var(--border);
}

.container:last-of-type {
    border-bottom: none;
}




.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1-5);
    height: 100%;
    justify-content: space-between;
    height: fit-content;
    position: relative;
}


.imagecontainer {
    height: 100%;
    width: auto;
    overflow: hidden;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    height: calc(3rem + 3vw);
}

.imagecontainer img {
    height: 100%;
    width: auto;
    object-fit: contain;
}


.titlecontainer h3 {
    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
    font-size: var(--spacing-4)
}

.description p {
    width: 85%;
    font-size: var(--spacing-3-5);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.linkcontainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: var(--spacing-2);
    flex-shrink: 0;
    width: fit-content;
    align-self: flex-end;
    justify-self: flex-end;
}

.linkcontainer a {
    font-variation-settings: var(--title-weight);
    text-transform: uppercase;
    font-size: var(--spacing-3);
    display: flex;
    align-items: center;
    gap: var(--spacing-1)
}



/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 1280px) {}



/* !!!! TABLET !!!!! */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-1);
        height: 100%;
        justify-content: space-between;
        height: 5rem;
        position: relative;
    }


    .imagecontainer {
        height: 100%;
        width: auto;
        overflow: hidden;
        flex-shrink: 0;
        aspect-ratio: 1/1;
        height: 5rem;
    }
}