/* !!!! MOBILE DEVELOPMENT FIRST!!!!! */

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
}

.hamburger div {
    height: 0.28rem;
    width: 2.28rem;
    background-color: var(--dark-blue);
    transition: opacity 0.4s var(--bezier), transform 0.4s var(--bezier);
    transform-origin: center;
}

.open div:nth-of-type(2) {
    opacity: 0;
}


.open div:nth-of-type(1) {
    transform: rotate(45deg) translateY(0.78rem);
}


.open div:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-0.78rem);
}


@media screen and (min-width: 1080px) {
    .hamburger div {
        height: 0.2rem;
        width: 2rem;
        background-color: var(--dark-blue);
        transition: opacity 0.4s var(--bezier), transform 0.4s var(--bezier);
        transform-origin: center;
    }

    .open div:nth-of-type(1) {
        transform: rotate(45deg) translateY(0.68rem);
    }


    .open div:nth-of-type(3) {
        transform: rotate(-45deg) translateY(-0.68rem);
    }
}