.yearcontainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

.gallery {
    columns: 2;
    column-gap: var(--spacing-2);
}

.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: var(--spacing-2);
    break-inside: avoid;
    cursor: pointer;
}

.year {
    position: sticky;
    top: calc(var(--header-height) + 2.2rem);
    left: 0;
    background-color: var(--beige);
    width: fit-content;
}

/* !!!! DESKTOP !!!!! */

@media screen and (min-width: 768px) {
    .gallery {
        columns: 3 250px;
        column-gap: var(--spacing-4);
    }

    .gallery img {
        margin-bottom: var(--spacing-4);
    }
}